<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.CommonDao">

	<!-- 查询最大顺序号 -->
	<select id="getMaxDisplayOrder" resultType="java.lang.Integer" parameterType="java.util.Map" statementType="STATEMENT">
		SELECT
			MAX(display_order)
		FROM
			${tableName}
		WHERE 1=1
		    <if test="conditionStr != null and conditionStr != ''">
				${conditionStr}
			</if>
	</select>
	
</mapper>
