<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.CtrInstrumentsMicsDao">

	<!-- 根据条件查询，微生物对照LIST  -->
	<select id="queryListByConditions" parameterType="com.daan.dto.CtrInstrumentsMicsQueryDto" resultType="com.daan.dto.CtrInstrumentsMicsDto" >
		SELECT
			t.id		      AS micItemId,
			t.code_no         AS codeNo,
			t.name            AS NAME,
			t.en_short_name   AS enShortName,
			cim.id            AS id,
			cim.instrument_id AS instrumentId,
			cim.channel_code  AS channelCode,
			cim.print_order   AS printOrder,
			cim.item_type_id  AS itemTypeId
		FROM
			ctr_mic_items t
		INNER JOIN ctr_instr_mics cim ON cim.mic_item_id = t.id
		WHERE 1 = 1
		<if test="queryDto.itemTypeId != null and queryDto.itemTypeId != ''">
			AND cim.item_type_id=#{queryDto.itemTypeId}
		</if>
		<if test="queryDto.instrumentId != null and queryDto.instrumentId != ''">
			AND cim.instrument_id=#{queryDto.instrumentId}
		</if>
		<if test="queryDto.micItemId != null and queryDto.micItemId != ''">
			AND cim.mic_item_id=#{queryDto.micItemId}
		</if>
		<if test='queryDto.itemTypeId == "1" and queryDto.germSearchStr != null and queryDto.germSearchStr != ""'>
			AND (t.code_no LIKE CONCAT('%',#{queryDto.germSearchStr},'%') 
				OR t.name LIKE CONCAT('%',#{queryDto.germSearchStr},'%') 
				OR cim.channel_code LIKE CONCAT('%',#{queryDto.germSearchStr},'%') )
		</if>
		<if test='queryDto.itemTypeId == "2" and queryDto.antiSearchStr != null and queryDto.antiSearchStr != ""'>
			AND (t.code_no LIKE CONCAT('%',#{queryDto.antiSearchStr},'%') 
				OR t.name LIKE CONCAT('%',#{queryDto.antiSearchStr},'%') 
				OR cim.channel_code LIKE CONCAT('%',#{queryDto.antiSearchStr},'%') )
		</if>
		ORDER BY cim.print_order
	</select>
		
	<!-- 根据id集合查询列表  -->
	<select id="findByIds" resultType="com.daan.domain.CtrInstrumentsMics" >
		SELECT
			t.id            AS id,
			t.instrument_id AS instrumentId,
			t.channel_code  AS channelCode,
			t.print_order   AS printOrder,
			t.mic_item_id   AS micItemId,
			t.item_type_id  AS itemTypeId
		FROM
			ctr_instr_mics t
		WHERE 1 = 1 
			AND t.id IN 
		<foreach item="id" index="index" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>
	
	<!-- 根据id集合查询项目对照表  -->
	<select id="findById" resultType="com.daan.domain.CtrInstrumentsMics" >
		SELECT
			t.id            AS id,
			t.instrument_id AS instrumentId,
			t.channel_code  AS channelCode,
			t.print_order   AS printOrder,
			t.mic_item_id   AS micItemId,
			t.item_type_id  AS itemTypeId
		FROM
			ctr_instr_mics t
		WHERE 1 = 1
			AND t.id = #{id}
	</select>

	<!-- 新增微生物对照表  -->
	<insert id="insertCtrInstrumentsMics" parameterType="com.daan.domain.CtrInstrumentsMics" keyProperty="id">
		INSERT INTO ctr_instr_mics (
			id,
			instrument_id,
			item_type_id,
			mic_item_id,
			time_version
		)
		VALUES
		(
			#{id},              
			#{instrumentId},
			#{itemTypeId},
			#{micItemId},
			NOW()     
		)
	</insert>
	
	<!-- 删除微生物对照表  -->
	<delete id="deleteById" parameterType="java.lang.String" >
		DELETE FROM
			ctr_instr_mics
		WHERE 1=1 
			AND id=#{id}
	</delete>
	
	<!-- 修改微生物对照表  -->
	<update id="updateCtrInstrumentsMics" parameterType="com.daan.domain.CtrInstrumentsMics">
		UPDATE ctr_instr_mics
		SET channel_code = #{channelCode},      		
			print_order = #{printOrder},
			time_version = NOW()
		WHERE 1=1 
			AND id = #{id}
	</update>
	
	<!-- 根据仪器id，查询已包含微生物列表  -->
	<select id="queryContainByConditions" parameterType="com.daan.dto.CtrInstrumentsMicsQueryDto" resultType="com.daan.domain.CtrMicsItems" >
		SELECT DISTINCT
			t.id		      AS id,
			t.code_no         AS codeNo,
			t.name            AS NAME,
			t.en_short_name   AS enShortName
		FROM
			ctr_mic_items t
		INNER JOIN ctr_instr_mics cim ON t.id = cim.mic_item_id
		WHERE 1=1 
		<if test="queryDto.itemTypeId != null and queryDto.itemTypeId != ''">
			AND t.item_type_id=#{queryDto.itemTypeId}
		</if>
		<if test="queryDto.instrumentId != null and queryDto.instrumentId != ''">
			AND cim.instrument_id=#{queryDto.instrumentId}
		</if>
		ORDER BY cim.print_order
	</select>
		
	<!-- 根据仪器id，查询未包含微生物列表  -->
	<select id="queryUnContainByConditions" parameterType="com.daan.dto.CtrInstrumentsMicsQueryDto" resultType="com.daan.domain.CtrMicsItems" >
		SELECT
			t.id		      AS id,
			t.code_no         AS codeNo,
			t.name            AS NAME,
			t.en_short_name   AS enShortName
		FROM
			ctr_mic_items t
		WHERE 1=1 
			AND t.status=1
		    AND NOT EXISTS(SELECT
			                 1
			               FROM ctr_instr_mics cim
			               WHERE t.id = cim.mic_item_id
			               		AND cim.instrument_id=#{queryDto.instrumentId})
		<if test="queryDto.itemTypeId != null and queryDto.itemTypeId != ''">
			AND t.item_type_id=#{queryDto.itemTypeId}
		</if>
		<if test='queryDto.itemTypeId == "1" and queryDto.addGermSearchStr != null and queryDto.addGermSearchStr != ""'>
			AND (t.code_no LIKE CONCAT('%',#{queryDto.addGermSearchStr},'%') 
				OR t.name LIKE CONCAT('%',#{queryDto.addGermSearchStr},'%') 
				OR t.en_name LIKE CONCAT('%',#{queryDto.addGermSearchStr},'%') 
				OR t.en_short_name LIKE CONCAT('%',#{queryDto.addGermSearchStr},'%')
				OR t.fast_code LIKE CONCAT('%',#{queryDto.addGermSearchStr},'%')  )
		</if>
		<if test='queryDto.itemTypeId == "2" and queryDto.addAntiSearchStr != null and queryDto.addAntiSearchStr != ""'>
			AND (t.code_no LIKE CONCAT('%',#{queryDto.addAntiSearchStr},'%') 
				OR t.name LIKE CONCAT('%',#{queryDto.addAntiSearchStr},'%') 
				OR t.en_name LIKE CONCAT('%',#{queryDto.addAntiSearchStr},'%') 
				OR t.en_short_name LIKE CONCAT('%',#{queryDto.addAntiSearchStr},'%')
				OR t.fast_code LIKE CONCAT('%',#{queryDto.addAntiSearchStr},'%')  )
		</if>
		ORDER BY t.display_order
	</select>
	
</mapper>
