<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.CtrInstrumentsDao">

	<!-- 搜索查询拼接条件 -->
	<sql id="queryCondition">
		WHERE 1 = 1
		<if test="queryDto.searchStr != null and queryDto.searchStr != ''">
			AND (t.code_no LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR t.fast_code LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR t.name LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR t.model LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR t.producer LIKE CONCAT('%',#{queryDto.searchStr},'%')  
				OR cip.class_name LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR cip.front_class_name LIKE CONCAT('%',#{queryDto.searchStr},'%')  )
		</if>
		<if test="queryDto.frontClassName != null and queryDto.frontClassName != ''">
			<if test="queryDto.frontClassName == 0">
				AND (cip.front_class_name is not null AND cip.front_class_name != '')
			</if>
			<if test="queryDto.frontClassName == 1">
				AND (cip.front_class_name is null OR cip.front_class_name = '')
			</if>
		</if>
		<if test="queryDto.status != null and queryDto.status != '' ">
			AND t.status = #{queryDto.status}
		</if>
		<if test="queryDto.typeId != null and queryDto.typeId != ''">
			AND t.type_id = #{queryDto.typeId}
		</if>
		<if test="queryDto.sort != null and queryDto.sort != ''">
			<if test="queryDto.sort == 0">
				ORDER BY t.display_order
			</if>
			<if test="queryDto.sort == 1">
				ORDER BY convert(t.name USING gbk) COLLATE gbk_chinese_ci
			</if>
			<if test="queryDto.sort == 2">
				ORDER BY t.id desc
			</if>
		</if>
	</sql>
		
	<!-- 分页查询LIST  -->
	<select id="queryPageListByConditions" parameterType="com.daan.dto.CtrInstrumentsQueryDto" resultType="com.daan.domain.CtrInstruments" >
		SELECT
			t.id AS id,
			t.code_no AS codeNo,
			t.name AS name,
			t.model AS model,
			crt.name AS reportTemplateName,
			t.report_template_id AS reportTemplateId,
			cdc.name AS sampleTypeName,
			t.fast_code AS fastCode,
			t.sample_type_id AS sampleTypeId,
			t.display_order AS displayOrder,
			t.type_id AS typeId,
			t.status AS status 
		FROM
			ctr_instruments t
		INNER JOIN ctr_instr_params cip ON t.id=cip.instrument_id
		LEFT JOIN ctr_report_templates crt ON crt.id=t.report_template_id
		LEFT JOIN ctr_dict_codes cdc ON cdc.id=t.sample_type_id
		<include refid="queryCondition"></include>
		${page.mysqlQueryCondition}
	</select>

	<!-- 分页查询，查出总条数 -->
	<select id="queryCountByConditions" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			ctr_instruments t
		INNER JOIN ctr_instr_params cip ON t.id=cip.instrument_id
		LEFT JOIN ctr_report_templates crt ON crt.id=t.report_template_id
		LEFT JOIN ctr_dict_codes cdc ON cdc.id=t.sample_type_id
		<include refid="queryCondition"></include>
	</select>
	
	<!-- 根据id查询Object  -->
	<select id="findById" parameterType="java.lang.String" resultType="com.daan.domain.CtrInstruments" >
		SELECT
			t.id AS id,
			t.code_no AS codeNo,
			t.name AS name,
			t.fast_code AS fastCode,
			t.model AS model,
			t.producer AS producer,
			t.report_template_id AS reportTemplateId,
			crt.name AS reportTemplateName,
			t.sample_type_id AS sampleTypeId,
			cdc.name AS sampleTypeName,
			t.display_order AS displayOrder,
			t.type_id AS typeId,
			t.status AS status 
		FROM
			ctr_instruments t
		LEFT JOIN ctr_report_templates crt ON crt.id=t.report_template_id
		LEFT JOIN ctr_dict_codes cdc ON cdc.id=t.sample_type_id
		WHERE 1=1 
			AND t.id=#{id}
	</select>
	
	<!-- 根据id查询报告模板Object  -->
	<select id="getReportTemplatesById" parameterType="java.lang.String" resultType="com.daan.domain.CtrReportTemplates" >
		SELECT
			t.id AS id,
			t.name AS name,
			t.status AS status 
		FROM
			ctr_report_templates t
		WHERE 1=1 
			AND t.id=#{id}
	</select>
	
	<!-- 根据id查询通讯参数Object  -->
	<select id="findParamsById" parameterType="java.lang.String" resultType="com.daan.domain.CtrInstrumentsParams" >
		SELECT
			t.instrument_id AS instrumentId,
			t.front_class_name AS frontClassName,
			t.class_name AS className,
			t.com_port AS comPort,
			t.transfer_mode AS transferMode,
			t.protocol AS protocol,
			t.data_bit AS dataBit,
			t.baud_rate AS baudRate,
			t.stop_bit AS stopBit,
			t.parity_bit AS parityBit,
			t.is_respond AS isRespond,
			t.end_code AS endCode, 
			t.respond_code AS respondCode, 
			t.responding_code AS respondingCode, 
			t.is_dtr AS isDtr, 
			t.is_rts AS isRts 
		FROM
			ctr_instr_params t
		WHERE 1=1 
			AND t.instrument_id=#{instrument_id}
	</select>
	
	<!-- 根据名称查询Object  -->
	<select id="findByName" parameterType="java.lang.String" resultType="com.daan.domain.CtrInstruments" >
		SELECT
			t.id AS id,
			t.code_no AS codeNo,
			t.name AS name,
			t.fast_code AS fastCode,
			t.model AS model,
			t.producer AS producer,
			t.report_template_id AS reportTemplateId,
			crt.name AS reportTemplateName,
			t.sample_type_id AS sampleTypeId,
			cdc.name AS sampleTypeName,
			t.display_order AS displayOrder,
			t.type_id AS typeId,
			t.status AS status 
		FROM
			ctr_instruments t
		LEFT JOIN ctr_report_templates crt ON crt.id=t.report_template_id
		LEFT JOIN ctr_dict_codes cdc ON cdc.id=t.sample_type_id
		WHERE 1=1 
			AND t.name=#{name}
	</select>
	
	<!-- 查询所有的报告模板LIST  -->
	<select id="getAllReportTemplatesList" resultType="com.daan.domain.CtrReportTemplates" >
		SELECT
			t.id AS id,
			t.name AS name
		FROM
			ctr_report_templates t
		WHERE 1=1
			AND t.status=1
	</select>
		
	<!-- 新增中心仪器  -->
	<insert id="insertCtrInstruments" parameterType="com.daan.domain.CtrInstruments" keyProperty="id">
		INSERT INTO ctr_instruments (
			id,
			code_no,
			name,
			producer,
			model,
			fast_code,
			sample_type_id,
			report_template_id,
			display_order,
			type_id,
			status,
			time_version
		)
		VALUES
		(
			#{id},              
			#{codeNo},          
			#{name},            
			#{producer},     
			#{model},           
			#{fastCode},    
			#{sampleTypeId},    
			#{reportTemplateId},    
			#{displayOrder},    
			#{typeId},   
			#{status},          
			NOW()     
		)
	</insert>

	<!-- 新增中心仪器通讯参数  -->
	<insert id="insertCtrInstrumentsParams" parameterType="com.daan.domain.CtrInstrumentsParams" keyProperty="id">
		INSERT INTO ctr_instr_params (
			instrument_id,
			time_version
		)
		VALUES
		(
			#{instrumentId},        
			NOW()     
		)
	</insert>
		
	<!-- 修改中心仪器  -->
	<update id="updateCtrInstruments" parameterType="com.daan.domain.CtrInstruments">
		UPDATE ctr_instruments
		SET name = #{name},      		
			model = #{model},
			producer = #{producer},
			fast_code = #{fastCode},
			sample_type_id = #{sampleTypeId},
			report_template_id = #{reportTemplateId},
			display_order = #{displayOrder},
			type_id = #{typeId},		
			time_version = NOW()
		WHERE 1=1 
			AND id = #{id}
	</update>

	<!-- 修改中心仪器通讯参数  -->
	<update id="updateCtrInstrumentsParams" parameterType="com.daan.domain.CtrInstrumentsParams">
		UPDATE ctr_instr_params
		SET front_class_name = #{frontClassName},      		
			class_name = #{className},
			com_port = #{comPort},
			transfer_mode = #{transferMode},
			protocol = #{protocol},
			data_bit = #{dataBit},
			baud_rate = #{baudRate},
			stop_bit = #{stopBit},
			parity_bit = #{parityBit},
			is_respond = #{isRespond},	
			end_code = #{endCode},
			respond_code = #{respondCode},
			responding_code = #{respondingCode},
			is_dtr = #{isDtr},
			is_rts = #{isRts},	
			time_version = NOW()
		WHERE 1=1 
			AND instrument_id = #{instrumentId}
	</update>
	
	<!-- 启用中心仪器  -->
	<update id="enableById" parameterType="java.lang.String" >
		UPDATE ctr_instruments
		SET status = 1,          		
			time_version = NOW()      
		WHERE 1=1 
			AND id = #{id}
	</update>

	<!-- 停用中心仪器  -->
	<update id="disableById" parameterType="java.lang.String" >
		UPDATE ctr_instruments
		SET status = 0,          		
			time_version = NOW()      
		WHERE 1=1 
			AND id = #{id}
	</update>
	
	<!-- 删除中心仪器  -->
	<delete id="deleteById" parameterType="java.lang.String" >
		DELETE FROM
			ctr_instruments
		WHERE 1=1 
			AND id=#{id}
	</delete>
	
	<!-- 删除中心仪器通讯参数  -->
	<delete id="deleteParamsById" parameterType="java.lang.String" >
		DELETE FROM
			ctr_instr_params
		WHERE 1=1 
			AND instrument_id=#{instrumentId}
	</delete>
	
	<!-- 根据状态查询 -->
	<select id="queryByStatus" parameterType="java.lang.String" resultType="com.daan.domain.CtrInstruments" >
	SELECT
	   ins.id AS id,
	   ins.id AS idStr,
	   ins.`name` AS `name`
   FROM
	   ctr_instruments AS ins
   WHERE
	   ins.`status` = #{status}
	</select>
	
	<!-- 修改信息  2016/1/16 add by chenshuxian-->
	<update id="modifyInstruments" parameterType="com.daan.domain.CtrInstruments">
		UPDATE ctr_instruments
		SET status = #{status},          		
			time_version = NOW()      
		WHERE 1=1 
			AND id = #{id}
	</update>
</mapper>
