<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.CtrResultTypesDao">
	
	<!-- 搜索查询拼接条件 -->
	<sql id="queryCondition">
		WHERE 1 = 1
		<if test="queryDto.searchStr != null and queryDto.searchStr != ''">
			 AND (d.code_no LIKE CONCAT('%',#{queryDto.searchStr},'%') 
                  OR d.name LIKE CONCAT('%',#{queryDto.searchStr},'%'))
		</if>
		<if test="queryDto.status != null and queryDto.status != ''">
			AND d.status = #{queryDto.status}
		</if>
		<if test="queryDto.sort != null and queryDto.sort != ''">
			<if test="queryDto.sort == 0">
				ORDER BY d.display_order
			</if>
			<if test="queryDto.sort == 1">
				ORDER BY CONVERT(name USING gbk) COLLATE gbk_chinese_ci
			</if>
			<if test="queryDto.sort == 2">
				ORDER BY d.id desc
			</if>
		</if> 
	</sql>
	
	<!-- 分页查询，查出总条数 -->
	<select id="queryCountByConditions" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			ctr_result_types d
		<include refid="queryCondition"></include>
	</select>
	
	<!-- 分页查询LIST  -->
	<select id="queryPageListByConditions" parameterType="com.daan.dto.CtrResultTypesDto" resultType="com.daan.domain.CtrResultTypes" >
		SELECT
			id,
			code_no as codeNo,
			name,
			display_order as displayOrder,
			status,
			time_version as timeVersion
		FROM
			ctr_result_types d
		<include refid="queryCondition"></include>
	<!-- 	${page.mysqlQueryCondition} -->
	</select>
	
	<!-- 根据ID查找记录 -->
	<select id="findById" parameterType="java.lang.String" resultType="com.daan.domain.CtrResultTypes" >
		SELECT
			id,
			code_no as codeNo,
			name,
			display_order as displayOrder,
			status,
			time_version as timeVersion
		FROM
			ctr_result_types d
		WHERE 1=1
			AND d.id = #{id}
	</select>  
	
	<!-- 根据名称查找记录 -->
	<select id="findListByConditions" parameterType="java.lang.String" resultType="com.daan.domain.CtrResultTypes" >
		SELECT
			id,
			code_no as codeNo,
			name,
			display_order as displayOrder,
			status,
			time_version as timeVersion
		FROM
			ctr_result_types d
		WHERE 1=1
			<if test="name != null and name != ''">
				AND d.name = #{name}
			</if>
	</select>  
	
	<!-- 添加字典信息  useGeneratedKeys="true" keyProperty="id"-->
	<insert id="addCtrResultTypes" parameterType="com.daan.domain.CtrResultTypes">
		INSERT INTO ctr_result_types (
			id,
			code_no,
			name,
			display_order,
			status,
			time_version
		)
		VALUES
			(
				#{id},
				#{codeNo},
				#{name},
				#{displayOrder},
				#{status},
				#{timeVersion}
			)
	</insert>
	
	<!-- 修改字典信息 -->
	<update id="modifyCtrResultTypes" parameterType="com.daan.domain.CtrResultTypes">
		UPDATE ctr_result_types SET code_no = #{codeNo}, name = #{name}, display_order = #{displayOrder}, status = #{status}, time_version = NOW() WHERE id = #{id}
	</update>
	
	<!-- 删除字典 -->
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM ctr_result_types WHERE id=#{id}
	</delete>
	
	<!-- 根据状态查询 -->
	<select id="queryByStatus" parameterType="java.lang.String" resultType="com.daan.domain.CtrResultTypes" >
	SELECT
	    rt.id AS id,
	    rt.`name` AS `name`
   FROM
	   ctr_result_types AS rt
   WHERE
	   rt.`status` = #{status}
	</select>
	
</mapper>
