<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.DictLogsDao">
	 <!-- 新增日志信息  -->
     <insert id="addDictLogs" parameterType="com.daan.domain.DictLogs" >
		INSERT INTO dict_logs (
			id,
			app_id,
			org_id,
			org_name,
			user_id,
			user_name,
			operate_time,
			module_id,
			module_name,
			function_desc,
			summary,
			description,
			time_version)
			VALUES
		(#{id},#{appId},#{orgId},#{orgName},#{userId},#{userName},NOW(),#{moduleId},#{moduleName},#{functionDesc},#{summary},#{description},NOW())
     </insert>
     
     <!-- 查询日志 -->
     <sql id="queryCondition">
      WHERE 1 = 1
        <if test="queryDto.moduleId != null and queryDto.moduleId != ''">
         AND  log.module_id = #{queryDto.moduleId}
        </if>
        <if test="queryDto.startDate != null and queryDto.startDate != ''">
         AND  log.operate_time >= #{queryDto.startDate}
        </if>
        <if test="queryDto.endDate != null and queryDto.endDate != ''">
        AND log.operate_time <![CDATA[<]]> #{queryDto.endDate}
        </if>
        ORDER BY log.time_version desc
     </sql>
     
    <!-- 分页查询LIST  -->
	<select id="queryPageListByConditions" parameterType="com.daan.dto.DictLogsQueryDto" resultType="com.daan.dto.DictLogsQueryDto" >
       SELECT
	       log.id AS id,
	       log.org_name AS orgName,
	       log.user_name AS userName,
	       date_format(log.operate_time,'%Y-%c-%d %H:%i:%s') AS operateTime,
	       log.module_name AS moduleName,
	       log.function_desc AS functionDesc,
	       log.summary AS summary,
	       log.description AS description,
	       date_format(log.time_version,'%Y-%c-%d %H:%i:%s') AS timeVersion,
	       u.user_no AS userNo
      FROM
	       dict_logs log
	  LEFT JOIN 
	       users u 
	  ON 
	       u.id= log.user_id
     <include refid="queryCondition"></include>
		${page.mysqlQueryCondition}
	</select>
	
	<!-- 导出查询 -->
	<select id="queryDictLogs" parameterType="com.daan.dto.DictLogsQueryDto" resultType="com.daan.dto.DictLogsQueryDto" >
       SELECT
	       log.id AS id,
	       log.org_name AS orgName,
	       log.user_name AS userName,
	       date_format(log.operate_time,'%Y-%c-%d %H:%i:%s') AS operateTime,
	       log.module_name AS moduleName,
	       log.function_desc AS functionDesc,
	       log.summary AS summary,
	       log.description AS description,
	       date_format(log.time_version,'%Y-%c-%d %H:%i:%s') AS timeVersion,
	       u.user_no AS userNo
      FROM
	       dict_logs log
	  LEFT JOIN 
	       users u 
	  ON 
	       u.id= log.user_id
     <include refid="queryCondition"></include>
	</select>
	
	<!-- 分页查询，查出总条数 -->
	<select id="queryCountByConditions" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			dict_logs log
		<include refid="queryCondition"></include>
	</select>
     
</mapper>
