<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.InstrumentsItemDao">
  <!-- 查询仪器已经包含项目 start -->
  <select id="queryInstrumentsItemList" resultType="com.daan.domain.InstrItems">
	SELECT
		c.id as testItemId,
		c.code_no AS codeNo,
		c.`name` AS testName,
		c.en_short_name AS enShortName,
		b.channel_code AS channelCode,
		b.factor,
		b.unit,
		b.print_order AS pringOrder,
		d.`name` AS sampleTypeName,
		d2.`name` as testMethodName
	FROM
		ctr_test_items c
		LEFT JOIN instr_items b ON c.id = b.test_item_id
		LEFT JOIN instruments a ON a.id = b.instrument_id
		LEFT JOIN ctr_dict_codes d ON c.sample_type_id = d.id
		LEFT JOIN ctr_dict_codes d2 ON c.test_method_id = d2.id
	WHERE
		1 = 1
		<if test="queryDto.orgsId != null and queryDto.orgsId != ''">
		 AND b.org_id = #{queryDto.orgsId}
		</if>
		<if test="queryDto.instrumentId != null and queryDto.instrumentId != ''">
		 AND b.instrument_id = #{queryDto.instrumentId}
		</if>
  </select>
  <!-- 查询仪器已经包含项目 end -->
  <!-- 查询仪器未包含项目 start -->
  <select id="queryInstrumentsItemNotContainList" resultType="com.daan.domain.InstrItems">
  	SELECT
		c.id as testItemId,
		c.code_no AS codeNo,
		c.`name` AS testName,
		c.en_short_name AS enShortName,
		b.channel_code AS channelCode,
		b.factor,
		b.unit,
		b.print_order AS pringOrder,
		d.`name` AS sampleTypeName,
		d2.`name` as testMethodName
	FROM
		ctr_test_items c
		LEFT JOIN instr_items b ON c.id = b.test_item_id
		LEFT JOIN instruments a ON a.id = b.instrument_id
		LEFT JOIN ctr_dict_codes d ON c.sample_type_id = d.id
		LEFT JOIN ctr_dict_codes d2 ON c.test_method_id = d2.id
	WHERE  c.`status` = 1 
	    <if test="queryDto.testMethodId != null and queryDto.testMethodId != ''">
	    AND d2.id = #{queryDto.testMethodId}
	    </if>
	    <if test="queryDto.searchStr != null and queryDto.searchStr != ''">
	    AND CONCAT_WS(c.code_no,c.`name`,c.en_name,c.en_short_name) like CONCAT('%',#{queryDto.searchStr},'%')
	    </if>
		AND NOT EXISTS (select i.test_item_id from instr_items i where i.test_item_id = c.id AND b.org_id = #{queryDto.orgsId}
						AND b.instrument_id = #{queryDto.instrumentId})
  </select>
  <!-- 查询仪器未包含项目 end -->
  <!-- 根据项目ID，机构ID，仪器ID查询出仪器对应项目信息 start-->
  <select id="queryInstrItemConditions" resultType="com.daan.domain.InstrItems">
  	SELECT
		b.id,
		b.channel_code AS channelCode,
		b.factor,
		b.unit,
		b.print_order AS printOrder,
		a.`name`,
		a.code_no AS codeNo
	FROM
		ctr_test_items a
	INNER JOIN instr_items b ON a.id = b.test_item_id
	WHERE 1 = 1
	<if test="queryDto.instrumentId != null and queryDto.instrumentId != ''">
		AND b.instrument_id = #{queryDto.instrumentId}
	</if>
	<if test="queryDto.orgId != null and queryDto.orgId != ''">
		AND b.org_id = #{queryDto.orgId}
	</if>
	<if test="queryDto.id != null and queryDto.id != ''">
		AND a.id = #{queryDto.id}
	</if>
  </select>
  <!-- 根据项目ID，机构ID，仪器ID查询出仪器对应项目信息 end-->
  <!-- 根据ID删除仪器对应项目的关系start -->
  <delete id="deleteInstrItem">
  	DELETE FROM	instr_items a WHERE	a.id = #{Id}
  </delete>
  <!-- 根据ID删除仪器对应项目的关系end -->
  <!-- 新增项目对照表  -->
	<insert id="insertInstrumentsItem" parameterType="com.daan.domain.InstrumentsItems" keyProperty="id">
		INSERT INTO instr_items (
			id, 
			app_id, 
			org_id, 
			instrument_id, 
			test_item_id, 
			channel_code, 
			factor, 
			unit, 
			print_order, 
			time_version
		)
		VALUES
		(
			#{id},              
			#{appId},          
			#{orgId},            
			#{instrumentId},     
			#{testItemId},           
			#{channelCode},    
			#{factor},    
			#{unit},    
			#{printOrder},     
			NOW()     
		)
	</insert>
</mapper>