<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.LocalInstrumentsDao">
	
	<!-- 分页查询，查出总条数 -->
	<select id="queryCountByConditions" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM instruments t
		LEFT JOIN report_templates rt ON t.rpt_template_id = rt.id
		LEFT JOIN report_templates rt2 ON t.rpt_template2_id = rt2.id
		LEFT JOIN instr_params inp ON t.id = inp.instrument_id
		LEFT JOIN ctr_dict_codes dc ON t.lab_group_id = dc.id
		WHERE 1 = 1
		<include refid="queryCondition"></include>
	</select>
     
    <!-- 分页查询LIST  -->
	<select id="queryPageListByConditions" parameterType="com.daan.utils.DataGrid" resultType="com.daan.domain.Instruments" >
		SELECT  
			t.id AS id,
			t.id AS idString,
			t.code_no AS codeNo,
			t.name AS name,
			t.model AS model,
			t.report_header AS reportHeader,
			dc.name AS labGroupName,
			rt.name AS rptTemplateName,
			rt2.name AS rptTemplate2Name,
			t.type_id AS typeId,
			t.display_order AS displayOrder,
			t.fast_code AS fastCode,
			t.status AS status
		FROM instruments t
		LEFT JOIN report_templates rt ON t.rpt_template_id = rt.id
		LEFT JOIN report_templates rt2 ON t.rpt_template2_id = rt2.id
		LEFT JOIN instr_params inp ON t.id = inp.instrument_id
		LEFT JOIN ctr_dict_codes dc ON t.lab_group_id = dc.id
		WHERE 1 = 1
		<include refid="queryCondition"></include>
		LIMIT #{queryDto.startIndex},#{queryDto.pageSize}
	</select>
		
	<!-- 搜索查询拼接条件 -->
	<sql id="queryCondition">
		<if test="queryDto.appId != null and queryDto.appId != ''">
			AND t.app_id = #{queryDto.appId}
		</if>
		<if test="queryDto.orgId != null and queryDto.orgId != ''">
			AND t.org_id = #{queryDto.orgId}
		</if>
		<if test="queryDto.searchStatus != -1 and queryDto.searchStatus != ''">
			AND t.status = #{queryDto.searchStatus}
		</if>
		<if test="queryDto.searchStr != null and queryDto.searchStr != ''">
			AND (
				t.code_no LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR t.name LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR t.fast_code LIKE CONCAT('%',#{queryDto.searchStr},'%')  
			)
		</if>
		<if test="queryDto.searchFrontClassName != null and queryDto.searchFrontClassName != ''">
			<if test="queryDto.searchFrontClassName == 0">
				AND (inp.front_class_name is null OR inp.front_class_name = '')
			</if>
			<if test="queryDto.searchFrontClassName == 1">
				AND (inp.front_class_name is not null AND inp.front_class_name != '')
			</if>
		</if>
		<if test="queryDto.searchSort != null and queryDto.searchSort != ''">
			<if test="queryDto.searchSort == 0">
				ORDER BY t.display_order
			</if>
			<if test="queryDto.searchSort == 1">
				ORDER BY CONVERT(t.name USING gbk) COLLATE gbk_chinese_ci
			</if>
			<if test="queryDto.searchSort == 2">
				ORDER BY t.id desc
			</if>
		</if>  
	</sql>

	<!-- app_id, org_id 拼接条件 -->
	<sql id="appId_OrgId_Conditions">
		<if test="orgId != null and orgId != ''">
			AND t.org_id = #{orgId}
		</if>
		<if test="appId != null and appId != ''">
			AND t.app_id = #{appId}
		</if>
	</sql>
	
	<!-- 查询报告模板LIST  -->
	<select id="getRtListByConditions" parameterType="java.lang.String" resultType="com.daan.domain.ReportTemplates" >
		SELECT
			t.id AS id,
			t.name AS name
		FROM
			report_templates t
		WHERE 1=1
			<if test="status != null and status != ''">
				AND t.status = #{status}
			</if>
		<include refid="appId_OrgId_Conditions"></include>
	</select>

	<!-- 查询盒子条码LIST  -->
	<select id="getBbListByConditions" parameterType="java.lang.String" resultType="com.daan.domain.InstrBoxs" >
		SELECT
			t.id AS id,
			t.box_barcode AS boxBarcode
		FROM
			ctr_instr_boxs t
		WHERE 1=1
			<if test="status != null and status != ''">
				AND t.status = #{status}
			</if>
		<include refid="appId_OrgId_Conditions"></include>
	</select>
	
	<!-- 查询虚拟仪器LIST  -->
	<select id="getViListByConditions" parameterType="java.lang.String" resultType="com.daan.domain.Instruments" >
		SELECT
			t.id AS id,
			t.name AS name
		FROM
			instruments t
		WHERE 1=1
			<if test="status != null and status != ''">
				AND t.status = #{status}
			</if>
		<include refid="appId_OrgId_Conditions"></include>
	</select>
	
	<!-- 根据id查询Object  -->
	<select id="findById" parameterType="java.lang.String" resultType="com.daan.domain.Instruments" >
		SELECT
			t.id AS id,
			t.id AS idString,
			t.app_id AS appId,
			t.org_id AS orgId,
			t.code_no AS codeNo,
			t.name AS name,
			t.fast_code AS fastCode,
			t.model AS model,
			t.producer AS producer,
			t.lab_group_id AS labGroupId,
			dc.name AS labGroupName,
			t.sample_type_id AS sampleTypeId,
			dc2.name AS sampleTypeName,
			t.rpt_template_id AS rptTemplateId,
			rt.name AS rptTemplateName,
			t.rpt_template2_id AS rptTemplate2Id,
			rt2.name AS rptTemplate2Name,
			t.display_order AS displayOrder,
			t.type_id AS typeId,
			t.status AS status,
			t.report_header AS reportHeader,
			t.purchase_date AS purchaseDate,
			DATE_FORMAT(t.purchase_date,'%Y-%m-%d') AS purchaseDateString,
			t.provider AS provider,
			t.install_date AS installDate,
			DATE_FORMAT(t.install_date,'%Y-%m-%d') AS installDateString,
			t.maintainer AS maintainer,
			t.maintain_tel AS maintainTel
		FROM
			instruments t
		LEFT JOIN report_templates rt ON t.rpt_template_id = rt.id
		LEFT JOIN report_templates rt2 ON t.rpt_template2_id = rt2.id
		LEFT JOIN ctr_dict_codes dc ON t.lab_group_id = dc.id
		LEFT JOIN ctr_dict_codes dc2 ON t.sample_type_id = dc2.id
		WHERE 1=1 
			AND t.id=#{id}
	</select>
	
	<!-- 根据条件查询Object  -->
	<select id="queryListByConditions" parameterType="java.lang.String" resultType="com.daan.domain.Instruments" >
		SELECT
			t.id AS id,
			t.code_no AS codeNo,
			t.name AS name,
			t.model AS model,
			t.report_header AS reportHeader,
			t.type_id AS typeId,
			t.display_order AS displayOrder,
			t.fast_code AS fastCode,
			t.status AS status
		FROM
			instruments t
		WHERE 1=1 
			<if test="name != null and name != ''">
				AND t.name = #{name}
			</if>
		<include refid="appId_OrgId_Conditions"></include>
	</select>
	
	<!-- 新增客户仪器信息  -->
	<insert id="insertInstruments" parameterType="com.daan.domain.Instruments" keyProperty="id">
		INSERT INTO instruments (
			id, 
			app_id, 
			org_id, 
			code_no, 
			name, 
			producer, 
			model, 
			fast_code, 
			lab_group_id, 
			sample_type_id, 
			rpt_template_id, 
			rpt_template2_id, 
			display_order, 
			type_id, 
			status, 
			report_header, 
			purchase_date, 
			provider, 
			install_date, 
			maintainer, 
			maintain_tel, 
			time_version
		)
		VALUES
			(
				#{id},              
				#{appId},          
				#{orgId},            
				#{codeNo},     
				#{name},           
				#{producer},    
				#{model},    
				#{fastCode},    
				#{labGroupId},    
				#{sampleTypeId},   
				#{rptTemplateId},  
				#{rptTemplate2Id},
				#{displayOrder}, 
				#{typeId}, 
				#{status}, 
				#{reportHeader}, 
				#{purchaseDate}, 
				#{provider}, 
				#{installDate}, 
				#{maintainer}, 
				#{maintainTel},           
				NOW()     
			)
	</insert>
	
	<!-- 新增仪器通讯参参数  -->
	<insert id="insertInstrParams" parameterType="com.daan.domain.InstrParams" keyProperty="id">
		INSERT INTO instr_params (
			app_id,
			org_id,
			instrument_id,
			time_version
		)
		VALUES
		(	
			#{appId}, 
			#{orgId}, 
			#{instrumentId},        
			NOW()     
		)
	</insert>
	
	<!-- 修改仪器信息  -->
	<update id="updateInstruments" parameterType="com.daan.domain.Instruments">	
		UPDATE instruments
		SET name = #{name},
			model = #{model},
			producer = #{producer},
			type_id = #{typeId},
			report_header = #{reportHeader},
			lab_group_id = #{labGroupId},
			sample_type_id = #{sampleTypeId},
			rpt_template_id = #{rptTemplateId},
			rpt_template2_id = #{rptTemplate2Id},
			display_order = #{displayOrder},
			fast_code = #{fastCode},
			purchase_date = #{purchaseDate},
			install_date = #{installDate},
			provider = #{provider},
			maintainer = #{maintainer},
			maintain_tel = #{maintainTel},
			time_version = NOW()
		WHERE 1=1 
			AND id = #{id}
	</update>
	
	<!-- 启用或者停用状态 -->
	<update id="updateStatus" parameterType="Map">
		UPDATE instruments
		SET 
		<if test="status == 0">
			status = 1,  
		</if>
		<if test="status == 1">
			status = 0,  
		</if>        		
			time_version = NOW()      
		WHERE 1=1 
			AND id = #{id}
	</update>
	
	<!-- 删除仪器信息  -->
	<delete id="deleteById" parameterType="java.lang.String" >
		DELETE FROM
			instruments
		WHERE 1=1 
			AND id=#{id}
	</delete>
	
	<!-- 删除仪器通讯参数  -->
	<delete id="deleteParamsById" parameterType="java.lang.String" >
		DELETE FROM
			instr_params
		WHERE 1=1 
			AND instrument_id=#{instrumentId}
	</delete>
	
	<!-- 根据id查询仪器通讯参数Object  -->
	<select id="findParamsById" parameterType="java.lang.String" resultType="com.daan.domain.InstrParams" >
		SELECT
			t.instrument_id AS instrumentId,
			t.app_id AS appId,
			t.org_id AS orgId,
			t.box_barcode AS boxBarcode,
			t.front_class_name AS frontClassName,
			t.class_name AS className,
			t.com_port AS comPort,
			t.protocol AS protocol,
			t.baud_rate AS baudRate,
			t.data_bit AS dataBit,
			t.stop_bit AS stopBit,
			t.parity_bit AS parityBit,
			t.end_code AS endCode, 
			t.is_respond AS isRespond,
			t.respond_code AS respondCode, 
			t.responding_code AS respondingCode, 
			t.server_ip AS serverIp, 
			t.port AS port, 
			t.interval AS intervals, 
			t.virutal_instr_id AS virutalInstrId, 
			t.virutal_type AS virutalType,
			t.transfer_mode AS transferMode,
			t.is_dtr AS isDtr, 
			t.is_rts AS isRts 
		FROM
			instr_params t
		WHERE 1=1 
			AND t.instrument_id=#{instrumentId}
	</select>
	
	<!-- 修改仪器通讯参数  -->
	<update id="updateInstrParams" parameterType="com.daan.domain.InstrParams">
		UPDATE instr_params t
		SET t.box_barcode = #{boxBarcode},
			t.front_class_name = #{frontClassName},
			t.class_name = #{className},
			t.com_port = #{comPort},
			t.protocol = #{protocol},
			t.baud_rate = #{baudRate},
			t.data_bit = #{dataBit},
			t.stop_bit = #{stopBit},
			t.parity_bit = #{parityBit},
			t.end_code = #{endCode}, 
			t.is_respond = #{isRespond},
			t.respond_code = #{respondCode}, 
			t.responding_code = #{respondingCode}, 
			t.server_ip = #{serverIp}, 
			t.port = #{port}, 
			t.interval = #{intervals}, 
			t.virutal_instr_id = #{virutalInstrId}, 
			t.virutal_type = #{virutalType},
			t.transfer_mode = #{transferMode},
			t.is_dtr = #{isDtr}, 
			t.is_rts = #{isRts},
			t.time_version = NOW()
		WHERE 1=1 
			AND t.instrument_id = #{instrumentId}
	</update>






	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	<!-- ====================== 以下是有关中心仪器库SQL ====================== -->
	
	
	<!-- 分页查询中心仪器，查出总条数 -->
	<select id="queryCtrCountByConditions" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			ctr_instruments t
		LEFT JOIN ctr_instr_params cip ON t.id=cip.instrument_id
		where 1=1
		<include refid="queryCtrCondition"></include>
	</select>
     
    <!-- 分页查询中心仪器LIST  -->
	<select id="queryCtrPageListByConditions" parameterType="com.daan.utils.DataGrid" resultType="com.daan.domain.CtrInstruments" >
		SELECT  
			t.id AS id,
			t.id AS idString,
			t.code_no AS codeNo,
			t.name AS name,
			t.model AS model,
			cip.front_class_name AS frontClassName,
			cip.class_name AS className
		FROM ctr_instruments t
		LEFT JOIN ctr_instr_params cip ON t.id=cip.instrument_id
		WHERE 1 = 1
		<include refid="queryCtrCondition"></include>
		LIMIT #{queryDto.startIndex},#{queryDto.pageSize}
	</select>
		
	<!-- 搜索查询拼接条件，中心仪器 -->
	<sql id="queryCtrCondition">
		AND NOT EXISTS (
			SELECT 1 
			FROM instruments loc
			WHERE loc.code_no=t.code_no
			<if test="queryDto.appId != null and queryDto.appId != ''">
				AND loc.app_id = #{queryDto.appId}
			</if>
			<if test="queryDto.orgId != null and queryDto.orgId != ''">
				AND loc.org_id = #{queryDto.orgId}
			</if>
		)
		<if test="queryDto.searchStr != null and queryDto.searchStr != ''">
			AND (
				t.code_no LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR t.name LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR t.model LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR t.producer LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR cip.front_class_name LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR cip.class_name LIKE CONCAT('%',#{queryDto.searchStr},'%') 
				OR t.fast_code LIKE CONCAT('%',#{queryDto.searchStr},'%')  
			)
		</if>
		<if test="queryDto.searchFrontClassName != null and queryDto.searchFrontClassName != ''">
			<if test="queryDto.searchFrontClassName == 0">
				AND (cip.front_class_name is null OR cip.front_class_name = '')
			</if>
			<if test="queryDto.searchFrontClassName == 1">
				AND (cip.front_class_name is not null AND cip.front_class_name != '')
			</if>
		</if>
		ORDER BY t.display_order
	</sql>
	
	<!-- 根据id查询中心仪器Object  -->
	<select id="findCtrById" parameterType="java.lang.String" resultType="com.daan.domain.CtrInstruments" >
		SELECT
			t.id AS id,
			t.code_no AS codeNo,
			t.name AS name,
			t.fast_code AS fastCode,
			t.model AS model,
			t.producer AS producer,
			t.report_template_id AS reportTemplateId,
			t.sample_type_id AS sampleTypeId,
			cdc.code_no AS sampleTypeCodeNo,
			t.display_order AS displayOrder,
			t.type_id AS typeId,
			t.status AS status 
		FROM
			ctr_instruments t
		LEFT JOIN ctr_dict_codes cdc ON t.sample_type_id=cdc.id
		WHERE 1=1 
			AND t.id=#{id}
	</select>
	
    <!-- 查询中心仪器项目LIST  -->
	<select id="queryCtrItemListById" parameterType="java.lang.String" resultType="com.daan.domain.CtrInstrumentsItems" >
		SELECT  
			t.test_item_id AS testItemId,
			cti.code_no AS itemCodeNo,
			cti.name AS itemName,
			cti.en_short_name AS itemEnShortName,
			t.channel_code AS channelCode,
			t.print_order AS printOrder,
			t.factor AS factor,
			t.unit AS unit,
			cti.sample_type_id AS itemSampleTypeId,
			cdc.code_no AS itemSampleTypeCodeNo,
			cdc.name AS itemSampleTypeName,
			cti.test_method_id AS itemTestMethodId,
			cdc.code_no AS itemTestMethodCodeNo
		FROM ctr_instr_items t
		INNER JOIN ctr_test_items cti ON t.test_item_id=cti.id
		LEFT JOIN ctr_dict_codes cdc ON cti.sample_type_id=cdc.id
		LEFT JOIN ctr_dict_codes cdc2 ON cti.test_method_id=cdc2.id
		WHERE 1 = 1
			AND t.instrument_id = #{instrumentId}
	</select>
	
    <!-- 查询中心仪器抗生素LIST  -->
	<select id="queryCtrMicsListById" parameterType="java.lang.String" resultType="com.daan.domain.CtrInstrumentsMics" >
		SELECT  
			cmi.code_no AS micsCodeNo,
			cmi.name AS micsName,
			t.item_type_id AS itemTypeId,
			t.mic_item_id AS micItemId,
			t.channel_code AS channelCode,
			t.print_order AS printOrder
		FROM ctr_instr_mics t
		INNER JOIN ctr_mic_items cmi ON t.mic_item_id=cmi.id
		WHERE 1 = 1
			AND t.instrument_id = #{instrumentId}
	</select>
	
	<!-- 复制到本地仪器报告模板  -->
	<insert id="copy2LocReportTemplates" parameterType="java.lang.String" keyProperty="id">
		INSERT INTO report_templates (
			id, 
			app_id, 
			org_id, 
			name, 
			status, 
			time_version
		)
		SELECT
			#{locId},              
			#{appId},          
			#{orgId},            
			t.name, 
			t.status, 
			NOW() 
		FROM ctr_report_templates t
		WHERE t.id = #{ctrId}
	</insert>
	
	<!-- 复制到本地仪器  -->
	<insert id="copy2LocInstruments" parameterType="java.lang.String" keyProperty="id">
		INSERT INTO instruments (
			id, 
			app_id, 
			org_id, 
			code_no, 
			name, 
			producer, 
			model, 
			fast_code, 
			lab_group_id, 
			sample_type_id, 
			rpt_template_id, 
			rpt_template2_id, 
			display_order, 
			type_id, 
			status, 
			report_header, 
			purchase_date, 
			provider, 
			install_date, 
			maintainer, 
			maintain_tel, 
			time_version
		)
		SELECT
			#{locId},              
			#{appId},          
			#{orgId},            
			t.code_no, 
			t.name, 
			t.producer, 
			t.model, 
			t.fast_code, 
			NULL, 
			#{sampleTypeId}, 
			#{rptTemplateId}, 
			NULL, 
			t.display_order, 
			t.type_id, 
			0, 
			NULL, 
			NULL, 
			NULL, 
			NULL, 
			NULL, 
			NULL,      
			NOW() 
		FROM ctr_instruments t
		WHERE t.id = #{ctrId}
	</insert>

	<!-- 复制到本地仪器参数  -->
	<insert id="copy2LocInstrParams" parameterType="java.lang.String" keyProperty="instrument_id">
		INSERT INTO instr_params (
			app_id,
			org_id,
			instrument_id,
			front_class_name,
			class_name,
			com_port,
			protocol,
			data_bit,
			baud_rate,
			stop_bit,
			parity_bit,
			is_respond,
			end_code,
			respond_code,
			responding_code,
			is_dtr,
			`interval`,
			is_rts,
			server_ip,
			port,
			virutal_instr_id,
			virutal_type,
			box_barcode,
			transfer_mode,
			time_version
		)
		SELECT
			#{appId},          
			#{orgId},      
			#{locId},       
			t.front_class_name, 
			t.class_name,
			t.com_port,
			t.protocol,
			t.data_bit,
			t.baud_rate,
			t.stop_bit,
			t.parity_bit,
			t.is_respond,
			t.end_code,
			t.respond_code,
			t.responding_code,
			t.is_dtr,
			t.interval,
			t.is_rts,
			t.server_ip,
			t.port,
			NULL,
			NULL,
			NULL,
			t.transfer_mode,
			NOW() 
		FROM ctr_instr_params t
		WHERE t.instrument_id = #{ctrId}
	</insert>

	<!-- 复制到本地基础字典  -->
	<insert id="copy2LocDictCodes" parameterType="java.lang.String" keyProperty="id">
		INSERT INTO dict_codes (
			id,
			app_id,
			org_id,
			type_key,
			code_no,
			name,
			en_name,
			en_short_name,
			whonet_code,
			fast_code,
			display_order,
			memo,
			status,
			time_version
		)
		SELECT
			#{locId},          
			#{appId},      
			#{orgId},       
			t.type_key,
			t.code_no,
			t.name,
			t.en_name,
			t.en_short_name,
			t.whonet_code,
			t.fast_code,
			t.display_order,
			t.memo,
			t.status,
			NOW() 
		FROM ctr_dict_codes t
		WHERE t.id = #{ctrId}
	</insert>
	
	<!-- 复制到本地项目  -->
	<insert id="copy2LocTestItems" parameterType="java.lang.String" keyProperty="id">
		INSERT INTO test_items (
			id,
            item_type_id,
            org_id,
            code_no,
            name,
            report_name,
            en_name,
            en_short_name,
            sex_id,
            test_method_id,
            sample_type_id,
            fast_code,
            display_order,
            memo,
            status,
            is_useful,
            is_Individual_stat,
            price,
            receipt_desc,
            collect_desc,
            combine_key,
            volume_ml,
            collect_sample_type_id,
            tube_type_id,
            relation_count,
            app_id,
            time_version
		)
		SELECT
			#{locId},      
			t.item_type_id,    
			#{orgId},
			t.code_no,       
			t.name,
			NULL,
			t.en_name,
			t.en_short_name,
			t.sex_id,
			#{testMethodId},
			#{sampleTypeId},
			NULL,
			t.display_order,
			t.memo,
			t.status,
			NULL,
			t.is_Individual_stat,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			#{appId},
			NOW() 
		FROM ctr_test_items t
		WHERE t.id = #{ctrId}
	</insert>
	
	<!-- 复制到本地项目  -->
	<insert id="copy2LocMicsItems" parameterType="java.lang.String" keyProperty="id">
		INSERT INTO mic_items (
			id,
			app_id,
            org_id,
            item_type_id,
            code_no,
            name,
            en_short_name,
            en_name,
            whonet_code,
            fast_code,
            display_order,
            memo,
            status,
            time_version
		)
		SELECT
			#{locId},  
			#{appId},     
			#{orgId},   
			t.item_type_id,        
			t.code_no,
			t.name,
			t.en_short_name,
			t.en_name,
			t.whonet_code,
			t.fast_code,
			t.display_order,
			t.memo,
			t.status,
			NOW() 
		FROM ctr_mic_items t
		WHERE t.id = #{ctrId}
	</insert>

	<!-- 复制到本地项目参考值  -->
	<insert id="copy2LocInstrRefranges" parameterType="java.lang.String" keyProperty="id">
		INSERT INTO instr_refranges (
			id,
			app_id,
            org_id,
            instrument_id,
            test_item_id,
            sample_type_id,
            sex_id,
            age_unit_id,
            age_min,
            age_max,
            calc_age_min,
            calc_age_max,
            ref_low,
            ref_high,
            panic_low,
            panic_high,
            alarm_low,
            alarm_high,
            ref_text,
            ref_remark,
            en_ref_remark,
            en_ref_text,
            time_version
		)
		SELECT
			#{locId},  
			#{appId},     
			#{orgId},   
			#{ctrInstrumentsId},   
			#{ctrTestItemId},   
			#{sampleTypeId}, 
            t.sex_id,
            t.age_unit_id,
            t.age_min,
            t.age_max,
            t.calc_age_min,
            t.calc_age_max,
            t.ref_low,
            t.ref_high,
            t.panic_low,
            t.panic_high,
            t.alarm_low,
            t.alarm_high,
            t.ref_text,
            t.ref_remark,
            t.en_ref_remark,
            t.en_ref_text,
			NOW() 
		FROM ctr_instr_refranges t
		WHERE 1=1
		AND t.instrument_id = #{ctrInstrumentsId}
		AND t.test_item_id = #{ctrTestItemId}
	</insert>
	
</mapper>
