<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.LocDictCodesDao">
	
	<!-- 搜索查询拼接条件 -->
	<sql id="queryCondition">
		WHERE 1 = 1
		<if test="queryDto.searchStr != null and queryDto.searchStr != ''">
			 AND (d.code_no LIKE CONCAT('%',#{queryDto.searchStr},'%') 
                 OR d.name LIKE CONCAT('%',#{queryDto.searchStr},'%')
                 OR d.en_name LIKE CONCAT('%',#{queryDto.searchStr},'%')
                 OR d.en_short_name LIKE CONCAT('%',#{queryDto.searchStr},'%')
                 OR d.fast_code LIKE CONCAT('%',#{queryDto.searchStr},'%'))
		</if>
		<if test="queryDto.typeKey != null and queryDto.typeKey != ''">
			AND d.type_key = #{queryDto.typeKey}
		</if>
		<if test="queryDto.searchStatus != null and queryDto.searchStatus != ''">
			AND d.status = #{queryDto.searchStatus}
		</if>
		<if test="queryDto.searchSort == null or queryDto.searchSort == ''">
			ORDER BY d.display_order
		</if>
		<if test="queryDto.searchSort != null and queryDto.searchSort != ''">
			<if test="queryDto.searchSort == 0">
				ORDER BY d.display_order
			</if>
			<if test="queryDto.searchSort == 1">
				ORDER BY CONVERT(name USING gbk) COLLATE gbk_chinese_ci
			</if>
			<if test="queryDto.searchSort == 2">
				ORDER BY d.time_version desc
			</if>
		</if>

	</sql>
	
	<!-- 分页查询，查出总条数 -->
	<select id="queryCountByConditions" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			dict_codes d
		WHERE
			d.type_key = #{queryDtoCount.typeKey}
	</select>
	
	<!-- 分页查询LIST  -->
	<select id="queryPageListByConditions" parameterType="com.daan.dto.LocDictCodesDto" resultType="com.daan.domain.LocDictCodes" >
		SELECT
			d.id as idString,
			d.app_id as appId,
			d.org_id as orgId,
			d.type_key as typeKey,
			d.code_no as codeNo,
			d.name,
			d.en_short_name as enShortName,
			d.en_name as enName,
			d.whonet_code as whonetCode,
			d.fast_code as fastCode,
			d.display_order as displayOrder,
			d.memo,
			d.status,
			d.time_version as timeVersion
		FROM
			dict_codes d
		<include refid="queryCondition"></include>
		LIMIT #{queryDto.startIndex},#{queryDto.pageSize}
	</select>
	
	<!-- 根据ID查找记录 -->
	<select id="findById" parameterType="java.lang.String" resultType="com.daan.domain.LocDictCodes" >
		SELECT
			d.id,
			d.app_id as appId,
			d.org_id as orgId,
			d.type_key as typeKey,
			d.code_no as codeNo,
			d.name,
			d.en_short_name as enShortName,
			d.en_name as enName,
			d.whonet_code as whonetCode,
			d.fast_code as fastCode,
			d.display_order as displayOrder,
			d.memo,
			d.status,
			d.time_version as timeVersion
		FROM
			dict_codes d
		WHERE 1=1
			AND d.id = #{id}
	</select>  
	
	<!-- 根据ID值查找中心字典库的编码，以及名称等信息 -->
	<select id="findCtrDataById" parameterType="java.lang.Long" resultType="com.daan.domain.LocDictCodes" >
		SELECT
	      d.code_no AS codeNo,
	      d.name AS name
        FROM
	     ctr_dict_codes d
        WHERE
			 d.id = #{id}
	</select>  
	
	<!-- 根据名称查找记录 -->
	<select id="findListByConditions" parameterType="java.lang.String" resultType="com.daan.domain.LocDictCodes" >
		SELECT
			d.id,
			d.id as idString,
<!-- 			d.app_id as appId, -->
<!-- 			d.org_id as orgId, -->
			d.type_key as typeKey,
			d.code_no as codeNo,
			d.name,
			d.en_short_name as enShortName,
			d.en_name as enName,
			d.whonet_code as whonetCode,
			d.fast_code as fastCode,
			d.display_order as displayOrder,
			d.memo,
			d.status,
			d.time_version as timeVersion
		FROM
			ctr_dict_codes d
		WHERE 1=1
			<if test="typeKey != null and typeKey != ''">
				AND d.type_key = #{typeKey}
			</if>
			<if test="name != null and name != ''">
				AND d.name = #{name}
			</if>
			<if test="status != null and status != ''">
				AND d.status = #{status}
			</if>
			<!-- <if test="orgId != null and orgId != ''">
				AND d.org_id = #{orgId}
			</if>
			<if test="appId != null and appId != ''">
				AND d.app_id = #{appId}
			</if> -->
	</select>  
	
	<!-- 根据中心字典库编码、中文名称名称查找本地字典库是否已存在记录 -->
	<select id="findListByCheckConditions" parameterType="java.lang.String" resultType="com.daan.domain.LocDictCodes" >
		SELECT
			d.id,
			d.type_key as typeKey,
			d.code_no as codeNo,
			d.name
		FROM
			dict_codes d
		WHERE 1=1
			<if test="typeKey != null and typeKey != ''">
				AND d.type_key = #{typeKey}
			</if>
			<if test="codeNo != null and codeNo != ''">
				AND ( d.code_no = #{codeNo} OR d.name = #{name} )
			</if>
			<if test="codeNo == '' and name != ''">
				AND d.name = #{name} 
			</if>
	</select> 
	
	<!-- 根据中心字典库编码、中文名称名称查找本地字典库的id值 -->
	<select id="findLocDictId" parameterType="java.lang.String" resultType="java.lang.Long" >
		SELECT
			max(d.id) as id
		FROM
			dict_codes d
		WHERE 1=1
			<if test="typeKey != null and typeKey != ''">
				AND d.type_key = #{typeKey}
			</if>
			<if test="codeNo != null and codeNo != ''">
				AND  d.code_no = #{codeNo}
			</if>
			<if test="name == '' and name != ''">
				AND d.name = #{name} 
			</if>
	</select> 
	
	<!-- 修改字典信息 -->
	<update id="modifyLocDictCodes" parameterType="com.daan.domain.LocDictCodes">
		<if test="codeNoType == 'auto' ">
			UPDATE dict_codes
				SET name = #{name} ,en_name = #{enName} ,en_short_name = #{enShortName} ,fast_code = #{fastCode} ,display_order = #{displayOrder} ,memo = #{memo}, status = #{status}, time_version = NOW() WHERE id = #{id}
		</if>
		<if test="codeNoType == 'quote' ">
			UPDATE dict_codes
				SET en_short_name = #{enShortName} ,fast_code = #{fastCode} ,display_order = #{displayOrder} ,memo = #{memo}, status = #{status}, time_version = NOW() WHERE id = #{id}
		</if>
	</update>
	
	<!-- 删除字典 -->
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM dict_codes WHERE id=#{id}
	</delete>
	
	<!-- 分页查询，查出总条数 -->
	<select id="addQueryCountByConditions" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			ctr_dict_codes d
		WHERE
			d.type_key = #{queryDtoCount.typeKey}
	</select>
	
	<!-- 搜索查询拼接条件 -->
	<sql id="addQueryCondition">
		WHERE 1 = 1
		<if test="queryDto.searchStr != null and queryDto.searchStr != ''">
			AND (d.code_no LIKE CONCAT('%',#{queryDto.searchStr},'%') 
                 OR d.name LIKE CONCAT('%',#{queryDto.searchStr},'%')
                 OR d.en_name LIKE CONCAT('%',#{queryDto.searchStr},'%')
                 OR d.en_short_name LIKE CONCAT('%',#{queryDto.searchStr},'%')
                 OR d.fast_code LIKE CONCAT('%',#{queryDto.searchStr},'%'))
		</if>
		<if test="queryDto.typeKey != null and queryDto.typeKey != ''">
			AND d.type_key = #{queryDto.typeKey}
		</if>
		ORDER BY d.display_order
	</sql>
	
	<!-- 新增分页查询中心库LIST  -->
	<select id="addQueryPageListByConditions" parameterType="com.daan.dto.LocDictCodesDto" resultType="com.daan.domain.LocDictCodes" >
		SELECT
			d.id as ctrIString,
			d.type_key as ctrTypeKey,
			d.code_no as ctrCodeNo,
			d.name as ctrName,
			d.en_short_name as ctrEnShortName,
			d.en_name as ctrEnName,
			d.whonet_code as ctrWhonetCode,
			d.fast_code as ctrFastCode,
			d.display_order as ctrDisplayOrder,
			d.memo as ctrMemo,
			d.status as ctrStatus
		FROM
			ctr_dict_codes d
		<include refid="addQueryCondition"></include>
		LIMIT #{queryDto.startIndex},#{queryDto.pageSize}
	</select>
	
	<!-- 添加字典信息  useGeneratedKeys="true" keyProperty="id"-->
	<insert id="addLocDictCodes" parameterType="com.daan.domain.LocDictCodes">
		INSERT INTO dict_codes (
			id,
			app_id,
			org_id,
			type_key,
			code_no,
			name,
			en_name,
			en_short_name,
			whonet_code,
			fast_code,
			display_order,
			memo,
			status,
			time_version
		)
		VALUES
			(#{id}, #{appId}, #{orgId}, #{typeKey}, #{codeNo}, #{name}, #{enName}, #{enShortName}, #{whonetCode}, #{fastCode}, #{displayOrder}, #{memo}, #{status}, NOW())
	</insert>
	
	<!-- 根据ID查询中心库LIST  -->
	<select id="findByCtrId" parameterType="com.daan.dto.LocDictCodesDto" resultType="com.daan.domain.LocDictCodes" >
		SELECT
			d.id as ctrIString,
			d.type_key as ctrTypeKey,
			d.code_no as ctrCodeNo,
			d.name as ctrName,
			d.en_short_name as ctrEnShortName,
			d.en_name as ctrEnName,
			d.whonet_code as ctrWhonetCode,
			d.fast_code as ctrFastCode,
			d.display_order as ctrDisplayOrder,
			d.memo as ctrMemo,
			d.status as ctrStatus
		FROM
			ctr_dict_codes d
		WHERE
			1 =1 
		AND d.id = #{id}
	</select>
	
	<!-- 查找所有可用的就诊类型        start  lijintao  2016-01-14 -->
	<select id="findAllTreatType" resultType="com.daan.domain.LocDictCodes" >
		SELECT 
			dc.id,
			dc.`name`
		FROM 
			dict_codes dc 
		WHERE dc.type_key = 10
			AND dc.status = 1
	</select>
	<!-- 查找所有可用的就诊类型        end -->
	
</mapper>
