<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.MicsItemsDao">
	
	<!-- app_id, org_id 拼接条件 -->
	<sql id="appId_OrgId_Conditions">
		<if test="orgId != null and orgId != ''">
			AND t.org_id = #{orgId}
		</if>
		<if test="appId != null and appId != ''">
			AND t.app_id = #{appId}
		</if>
	</sql>
	<!-- 查询本地检验项目列表  -->
	<select id="queryMicsItemsList" parameterType="java.lang.String" resultType="com.daan.domain.MicsItems">
		 SELECT
			t.id AS id,
			t.code_no AS codeNo,
			t.item_type_id AS itemTypeId
		FROM
			mic_items t
		where 1 = 1
		<include refid="appId_OrgId_Conditions"></include>
	</select>
</mapper>