<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.TestItemDao">
	<!-- 搜索查询拼接条件  start -->
	
    <!-- 根据状态查询 start -->
	<select id="findByDictCode" parameterType="java.lang.String" resultType="com.daan.domain.CtrDictCodes">
		SELECT
			dc.id as id,
		    dc.`name` as name
		FROM
			ctr_dict_codes dc
		WHERE
			dc.type_key = #{typeKey}
		AND dc.`status` = 1 
	</select>
	<!-- 根据状态查询 end -->
	<!-- 插入检验项目信息 start-->
	<insert id="insertTestItem" parameterType="com.daan.domain.CtrTestItems" keyProperty="id">
		INSERT INTO ctr_test_items (
			id,
			item_type_id,
			code_no,
			NAME,
			en_name,
			en_short_name,
			sex_id,
			test_method_id,
			sample_type_id,
			display_order,
			memo,
			STATUS,
			is_Individual_stat,
			time_version
		)
		VALUES
			(
				#{id},              
				#{itemTypeId},      
				#{codeNo},          
				#{name},            
				#{enName},          
				#{enShortName},     
				#{sexId},           
				#{testMethodId},    
				#{sampleTypeId},    
				#{displayOrder},    
				#{memo},            
				#{status},
				#{isIndividualStat},          
				NOW()     
			)
	</insert>
	<!-- 插入检验项目信息 end-->
	<!-- 插入检验项目其他信息 start -->
	<insert id="insertItemProperties" parameterType="com.daan.domain.CtrItemProperties">
		INSERT INTO ctr_item_properties (
			test_item_id,
			discipline_id,
			ref_method,
			unit,
			result_type_id,
			fast_code,
			result_precision,
			std_code,
			time_version
		)
		VALUES
			(
				#{testItemId},    
				#{disciplineId},  
				#{refMethod}, 	  
				#{unit},          
				#{resultTypeId},  
				#{fastCode},      
				#{resultPrecision},     
				#{stdCode},       
				NOW()   
			)
	</insert>
	<!-- 插入检验项目其他信息 end -->
	<!-- 修改检验项目 start -->
	<update id="updateTestItem"  parameterType="com.daan.domain.CtrTestItems">
		UPDATE ctr_test_items
			SET      		
			code_no = #{codeNo},          		
			NAME = #{name},            		
			en_name = #{enName},          		
			en_short_name = #{enShortName},     		
			sex_id = #{sexId},           		
			test_method_id = #{testMethodId},    		
			sample_type_id = #{sampleTypeId},    		
			display_order = #{displayOrder},    		
			memo = #{memo},            		
			STATUS = #{status},	
			is_Individual_stat = #{isIndividualStat},	
			time_version = NOW()     
		WHERE
			id = #{id}
	</update>
	<!-- 修改检验项目 end -->
	<!-- 修改检验项目其他信息 start -->
	<update id = "updateItemProperties" parameterType="com.daan.domain.CtrItemProperties">
		UPDATE ctr_item_properties
			SET discipline_id = #{disciplineId},        
			ref_method = #{refMethod}, 	        
			unit = #{unit},                
			result_type_id = #{resultTypeId},        
			fast_code = #{fastCode},            
			result_precision = #{resultPrecision},     
			std_code = #{stdCode},              
			time_version = NOW()
		WHERE
			test_item_id = #{testItemId}
	</update>
	<!-- 修改检验项目其他信息 end -->
	<!-- 分页查询List start -->
	<select id="pageQueryTestItems" parameterType="com.daan.dto.CrtTestItemDto" resultType="com.daan.domain.CtrTestItems">
		SELECT
			t.id AS id,
			t.code_no AS codeNo,
			-- 达安标准码
			t.`name` AS NAME,
			-- 项目名称
			t.en_name AS enName,
			-- 英文名称
			t.en_short_name AS enShortName,
			-- 英文简称
			t.sex_id AS sexId,
			-- 项目性别
			t. STATUS AS STATUS,
			-- 项目状态
			cdc1.`name` AS testMethodName,
			-- 检验方法
			cdc2.`name` AS sampleTypeName,
			-- 默认样本类型
			cdc3.`name` AS disciplineName,
			-- 医学专业组
			p.fast_code AS fastCode,
			-- 助记符
			t.display_order AS displayOrder, 
		    -- 顺序号
		    t.memo as memo,
		    -- 备注
		    p.ref_method as refMethod,
		    -- 参考值方式
		    p.unit as unit,
		    -- 单位
		    p.std_code as stdCode,
		    -- 国家标准码
		    p.result_precision as resultPrecision
		    -- 精度
		FROM
			ctr_test_items t
		LEFT JOIN ctr_item_properties p ON t.id = p.test_item_id
		LEFT JOIN ctr_dict_codes cdc1 ON cdc1.id = t.test_method_id
		LEFT JOIN ctr_dict_codes cdc2 ON cdc2.id = t.sample_type_id
		LEFT JOIN ctr_dict_codes cdc3 ON cdc3.id = p.discipline_id
		<include refid="pageQueryCondition"></include>
		${page.mysqlQueryCondition}
	</select>
	<!-- 分页查询List end -->
	
	<!-- 分页查询，查出总信息数 start -->
	<select id="queryTestItem" resultType="com.daan.domain.CtrTestItems">
		SELECT
			t.id AS id,
			t.code_no AS codeNo,
			-- 达安标准码
			t.`name` AS NAME,
			-- 项目名称
			t.en_name AS enName,
			-- 英文名称
			t.en_short_name AS enShortName,
			-- 英文简称
			t.sex_id AS sexId,
			-- 项目性别
			t. STATUS AS STATUS,
			-- 项目状态
			cdc1.`name` AS testMethodName,
			-- 检验方法
			cdc2.`name` AS sampleTypeName,
			-- 默认样本类型
			cdc3.`name` AS disciplineName,
			-- 医学专业组
			p.fast_code AS fastCode,
			-- 助记符
			t.display_order AS displayOrder, 
		    -- 顺序号
		    t.memo as memo,
		    -- 备注
		    p.ref_method as refMethod,
		    -- 参考值方式
		    p.unit as unit,
		    -- 单位
		    p.std_code as stdCode,
		    -- 国家标准码
		    p.result_precision as resultPrecision
		    -- 精度
		FROM
			ctr_test_items t
		LEFT JOIN ctr_item_properties p ON t.id = p.test_item_id
		LEFT JOIN ctr_dict_codes cdc1 ON cdc1.id = t.test_method_id
		LEFT JOIN ctr_dict_codes cdc2 ON cdc2.id = t.sample_type_id
		LEFT JOIN ctr_dict_codes cdc3 ON cdc3.id = p.discipline_id
		<include refid="pageQueryCondition"></include>
	</select>
	<!-- 分页查询，查出总信息数 end -->
	
	<!-- 导出查询  start -->
	<select id="queryTestItemCountForPage" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			ctr_test_items t
		LEFT JOIN ctr_item_properties p ON t.id = p.test_item_id
		LEFT JOIN ctr_dict_codes cdc1 ON cdc1.id = t.test_method_id
		LEFT JOIN ctr_dict_codes cdc2 ON cdc2.id = t.sample_type_id
		LEFT JOIN ctr_dict_codes cdc3 ON cdc3.id = p.discipline_id
		<include refid="pageQueryCondition"></include>
	</select>
	<!-- 导出查询 end -->
	
	<!-- 搜索查询拼接条件  start -->
	<sql id="pageQueryCondition" >
		where 1 = 1
		    and t.item_type_id = 1
		    <if test="queryDto.searchStr != null and queryDto.searchStr != ''">
		    	and CONCAT_WS(t.code_no,t.`name`,t.en_name,t.en_short_name,p.fast_code) like CONCAT('%',#{queryDto.searchStr},'%')
		    </if>
		    <if test="queryDto.status != null and queryDto.status != '' and queryDto.status != '2'.toString()">
		    	and t.`status` = #{queryDto.status}
		    </if>
		    <if test="queryDto.disciplineId != null and queryDto.disciplineId != 0">
		   		and p.discipline_id = #{queryDto.disciplineId}
		    </if>
		    <if test="queryDto.orderType != null and queryDto.orderType != ''">
		     order by
		    	<if test="queryDto.orderType == '0'.toString()">
		    		t.display_order -- 按顺序号升序
		    	</if>
		    	<if test="queryDto.orderType == '1'.toString()">
		    		convert(t.name  USING gbk) COLLATE gbk_chinese_ci  -- 按名称升序
		    	</if>
		    	<if test="queryDto.orderType == '2'.toString()">
		    		t.time_version desc -- 按录入顺序降序
		    	</if>
		    </if>
	</sql>
	<!-- 搜索查询拼接条件  end -->
	<!-- 根据ID查询检验项目信息 start -->
	<select id="queryTestItemToID" resultType="com.daan.domain.CtrTestItems">
		SELECT
			t.id as id,
			t.code_no as codeNO, -- 达安标准码
			t.`name` as name, -- 项目名称
			t.en_name as enName,-- 英文名称
			t.en_short_name as enShortName,-- 英文简称
			t.sex_id as sexId,-- 性别id
			t.item_type_id as itemTypeId,-- 项目类型
			t.test_method_id as testMethodId,-- 检验方法id
			p.discipline_id as disciplineId,-- 医学专业组id
			t.sample_type_id as sampleTypeId,-- 默认标本类型id
			p.ref_method as refMethod,-- 参考值显示方法
			t.is_Individual_stat as isIndividualStat,-- 是否按单项统计检测工作量
			p.unit as unit,-- 单位
			p.result_type_id as resultTypeId,-- 结果类型id
			p.result_precision as resultPrecision ,-- 精度
			p.fast_code as fastCode,-- 助记符
			p.std_code as stdCode,-- 国家标准码
			t.display_order as displayOrder,-- 顺序号
			t.memo as memo,-- 备注
			t.`status` as status,-- 是否停用
			cdc1.`name` AS testMethodName,
			-- 检验方法
			cdc2.`name` AS sampleTypeName,
			-- 默认样本类型
			cdc3.`name` AS disciplineName,
			-- 医学专业组
			p.fast_code AS fastCode,
			-- 助记符
			t.display_order AS displayOrder, 
		    -- 顺序号
		    t.memo as memo,
		    -- 备注
		    p.ref_method as refMethod,
		    -- 参考值方式
		    p.unit as unit,
		    -- 单位
		    p.std_code as stdCode,
		    -- 国家标准码
		    p.result_precision as resultPrecision,
		    -- 精度
		    cdc4.`name` as resultTypeName
		FROM
			ctr_test_items t
		LEFT JOIN ctr_item_properties p ON t.id = p.test_item_id
		LEFT JOIN ctr_dict_codes cdc1 ON cdc1.id = t.test_method_id
		LEFT JOIN ctr_dict_codes cdc2 ON cdc2.id = t.sample_type_id
		LEFT JOIN ctr_dict_codes cdc3 ON cdc3.id = p.discipline_id
		LEFT JOIN ctr_result_types cdc4 ON cdc4.id = p.result_type_id
		WHERE
			t.id = #{id}
	</select>
	<!-- 根据ID查询检验项目信息 end -->
	<!-- 删除项目 start -->
	<delete id="deleteTestItme" parameterType="java.lang.Integer">
		delete from ctr_test_items where id=#{id}
	</delete>
	<delete id="deleteItemProperties" parameterType="java.lang.Integer">
		delete from ctr_item_properties where test_item_id=#{id}
	</delete>
	<!-- 删除项目 end -->
	<!-- 启用停用检验项目 start -->
	<update id="modifyTestItemStatus" parameterType="com.daan.domain.CtrTestItems">
		UPDATE ctr_test_items
			SET STATUS = #{status}, 
			time_version = SYSDATE()
		WHERE
			id = #{id}
	</update>
	<!-- 启用停用检验项目 end -->
	<!-- 查询达安标准码唯一性 start -->
	<select id="findCount" resultType="java.lang.Integer" parameterType="com.daan.dto.CrtTestItemDto">
		SELECT
			count(1)
		FROM
			ctr_test_items t
		WHERE  1 = 1
		<if test="codeNo != null and codeNo !=''">
			and t.code_no = #{codeNo}
		</if>
		<if test="name != null and name !=''">
			and t.name = #{name}
		</if>
	</select>
	<!-- 查询达安标准码唯一性 end -->
</mapper>