<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.TestItemGroupDao">
    <!-- 查询单个的组合 start -->
	<select id="queryTestItemGroup" resultType="com.daan.domain.CtrTestItems">
		SELECT
		    cti.id,
		    cti.id as idStr,
			cti.code_no as codeNo,
			cti.`name`,
			cti.en_name as enName,
			cti.en_short_name as enShortName,
			cti.sample_type_id as sampleTypeId,
			cti.sample_type_id as sampleTypeIdString,
			cdc.`name` as sampleTypeName,
			cip.fast_code as fastCode,
			cti.display_order as displayOrder,
			cti.is_Individual_stat as isIndividualStat
		FROM
			ctr_test_items cti
		LEFT JOIN ctr_item_properties cip ON cti.id = cip.test_item_id
		LEFT JOIN ctr_dict_codes cdc ON cti.sample_type_id = cdc.id
		WHERE 1 = 1
		<if test="itemTypeId != null and itemTypeId != ''">
			and cti.item_type_id = #{itemTypeId}
		</if>
		<if test="id != null and id != '0'">
			and cti.id = #{id}
		</if>
	</select>
	<!-- 查询单个的组合 end -->
	<!-- 查询全部的组合项目 start -->
	<select id="queryTestItemGroupList" resultType="com.daan.domain.CtrTestItems">
		SELECT
			cti.id,
			cti.id as idStr,
			cti.code_no as codeNo,
			cti.`name`,
			cti.en_name as enName,
			cti.en_short_name as enShortName,
			cdc.`name` as sampleTypeName,
			cip.fast_code as fastCode,
			cti.display_order as displayOrder,
			cti.is_Individual_stat as isIndividualStat,
			cti.`status`
		FROM
			ctr_test_items cti
		LEFT JOIN ctr_item_properties cip ON cti.id = cip.test_item_id
		LEFT JOIN ctr_dict_codes cdc ON cti.sample_type_id = cdc.id
		WHERE 1 = 1
			and cti.item_type_id = 2
		<if test="queryDto.searchStr != null and queryDto.searchStr != ''">
		    and CONCAT_WS(cti.code_no,cti.`name`,cti.en_name,cti.en_short_name,cip.fast_code) like CONCAT('%',#{queryDto.searchStr},'%')
		</if>
		<if test="queryDto.status != null and queryDto.status != '' and queryDto.status != '2'.toString()">
		    and cti.`status` = #{queryDto.status}
		</if>
		<if test="queryDto.disciplineId != null and queryDto.disciplineId != 0">
		   	and cip.discipline_id = #{queryDto.disciplineId}
	    </if>
		<if test="queryDto.orderType != null and queryDto.orderType != ''">
		    order by
			<if test="queryDto.orderType == '0'.toString()">
			   		cti.display_order -- 按顺序号升序
			</if>
			<if test="queryDto.orderType == '1'.toString()">
			    	CONVERT(cti.`name` USING gbk) COLLATE gbk_chinese_ci ASC -- 按名称升序
			</if>
			<if test="queryDto.orderType == '2'.toString()">
			        cti.time_version desc -- 按录入顺序降序
			</if>
		</if>
	</select>
	<!-- 查询全部的组合项目 end -->
	<!-- 查询组合已经包含的项目 start -->
	<select id="querySingleItemList" resultType="com.daan.domain.CtrTestItems">
		SELECT
			ti.id,
			ti.id as idStr,
			ti.code_no as codeNo,
			ti.`name`,
			ti.en_name as enName,
			ti.en_short_name as enShortName,
			dc.`name` as testMethodName,
			ti.sex_id as sexId
		FROM
			ctr_test_items ti
		INNER JOIN ctr_test_group_details tgd ON ti.id = tgd.test_item_id
		LEFT JOIN ctr_dict_codes dc ON ti.test_method_id = dc.id
			where tgd.test_group_id = #{testItemId} 
			order by ti.display_order 
	</select>
	<!-- 查询组合已经包含的项目 end -->
	<!-- 查询组合未包含的项目 start -->
	<select id="querySingleItemNotContainList" resultType="com.daan.domain.CtrTestItems">
		SELECT
			ti.id,
			ti.id as idStr,
			ti.code_no as codeNo,
			ti.`name` as name,
			ti.en_name as enName,
			dc.`name` as testMethodName,
			ti.en_short_name as enShortName,
			ti.sex_id as sexId
		FROM
			ctr_test_items ti
		LEFT JOIN ctr_dict_codes dc ON ti.test_method_id = dc.id
		LEFT JOIN ctr_item_properties p ON ti.id = p.test_item_id
		<if test="queryDto.instrumentId != null and queryDto.instrumentId != ''">
        INNER JOIN ctr_instr_items ii ON ii.test_item_id = ti.id
        LEFT JOIN ctr_instruments ins ON ii.instrument_id = ins.id
        </if>
		WHERE
			ti.item_type_id = 1
		AND ti.status = 1
		AND NOT EXISTS (SELECT	d.test_item_id	FROM ctr_test_group_details d	WHERE	ti.id = d.test_item_id AND d.test_group_id = #{queryDto.testitemId})
	<if test="queryDto.searchGroupStr != null and queryDto.searchGroupStr != ''">
	    AND CONCAT_WS(ti.code_no,ti.`name`,ti.en_name,ti.en_short_name,dc.`name`,p.fast_code) LIKE CONCAT('%',#{queryDto.searchGroupStr},'%')
	</if>
	<if test="queryDto.instrumentId != null and queryDto.instrumentId != ''">
	    AND ins.id = #{queryDto.instrumentId}
	</if>
	</select>
	<!-- 查询组合未包含的项目 end -->
	<!-- 检查组合是否已经保存到了ctr_test_group_details表中 start -->
	<select id="fingTestGroupDetailIdCount" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			ctr_test_group_details d
		WHERE
			d.test_group_id = #{testItemId}
		AND d.test_item_id = #{testItemId}
	</select>
	<!-- 检查组合是否已经保存到了ctr_test_group_details表中 end -->
	<!-- insert ctr_test_group_details start-->
	<insert id="insrtTestGroupDetail" parameterType="com.daan.domain.CtrTestGroupDetails">
		INSERT INTO ctr_test_group_details (
			id,
			test_group_id,
			test_item_id,
			item_type,
			left_value,
  			right_value,
			time_version
		)
		VALUES
			(#{id},
			 #{testGroupId},
			 #{testItemId},
			 #{itemType},
			 #{leftValue},
			 #{rightValue},
			 Now())
	</insert>
	<!-- insert ctr_test_group_details end-->
	<!-- 删除组合与单项的关系 start -->
	<delete id="deleteTestGroupDetails">
	    DELETE FROM ctr_test_group_details WHERE test_group_id =#{queryDto.groupID} AND test_item_id =#{queryDto.testitemId}
	</delete>
	<!-- 删除组合与单项的关系 end -->
	<!-- 删除组合全部对应的单项关系 start -->
	<delete id="deleteTestGroup">
		DELETE FROM ctr_test_group_details WHERE test_group_id =#{groupID}
	</delete>
	<!-- 删除组合全部对应的单项关系 end -->
	<!-- 根据项目ID 查询  ctr_test_group_details start-->
	<select id="queryTestGroupDetail" resultType="com.daan.domain.CtrTestGroupDetails">
		SELECT
			d.id,
			cti.`name` AS testItemName,
			cti.code_no as codeNo
		FROM
			ctr_test_group_details d
		LEFT JOIN ctr_test_items cti ON d.test_item_id = cti.id
		WHERE
			d.test_group_id = #{queryDto.groupID}
		AND d.test_item_id = #{queryDto.testitemId}
	</select>
	<!-- 根据项目ID 查询  ctr_test_group_details end-->
</mapper>