<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daan.dao.inst.CtrInstrBoxsDao">

    <!-- 搜索查询拼接条件 -->
    <sql id="queryCondition">
        <where>
            <if test="searchStr != null and searchStr != ''">
                (d.box_barcode LIKE CONCAT('%',#{searchStr},'%')
                OR d.box_ip LIKE CONCAT('%',#{searchStr},'%')
                OR d.memo LIKE CONCAT('%',#{searchStr},'%')
                )
            </if>

            <if test="status != null and status != ''">
                AND d.status = #{status}
            </if>
            AND d.org_id = #{orgId}
        </where>
        <if test="sort != null and sort != ''">
            <choose>
                <when test="sort == 0">
                    ORDER BY d.display_order
                </when>
                <when test="sort == 1">
                    ORDER BY CONVERT(name USING gbk) COLLATE gbk_chinese_ci
                </when>
                <when test="sort == 2">
                    ORDER BY d.id desc
                </when>
            </choose>
        </if>
    </sql>

    <!-- 分页查询，查出总条数 -->
    <select id="doPageCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        ctr_instr_boxs AS d
        <include refid="queryCondition"></include>
    </select>

    <!-- 分页查询LIST  -->
    <select id="doPageList" parameterType="java.util.HashMap" resultType="com.daan.domain.inst.CtrInstrBoxs">
        SELECT
        d.*
        FROM
        ctr_instr_boxs AS d
        <include refid="queryCondition"></include>
        ${page.mysqlQueryCondition}
    </select>

    <select id="isExistedBarCode" parameterType="java.lang.String" resultType="com.daan.domain.inst.CtrInstrBoxs">
        SELECT t.id FROM ctr_instr_boxs t WHERE t.box_barcode = #{barcode}
    </select>

    <select id="isExistedBoxIp" parameterType="java.lang.String" resultType="com.daan.domain.inst.CtrInstrBoxs">
        SELECT t.id FROM ctr_instr_boxs t WHERE t.box_ip = #{barIp}
    </select>

    <insert id="addCtrInstrBoxs" parameterType="com.daan.domain.inst.CtrInstrBoxs">
        INSERT INTO ctr_instr_boxs (
        	id,
            app_id,
            org_id,
            code_no,
            box_barcode,
            box_ip,
            display_order,
            memo,
            status,
            time_version
        )
        VALUES
        (#{id}, #{app_id}, #{org_id}, #{code_no}, #{box_barcode}, #{box_ip}, #{display_order}, #{memo}, #{status}, NOW())
    </insert>

    <!-- 根据ID查找记录 -->
    <select id="findById" parameterType="java.lang.String" resultType="com.daan.domain.inst.CtrInstrBoxs">
        SELECT
            id,
            app_id,
            org_id,
            code_no,
            box_barcode,
            box_ip,
            display_order,
            memo,
            status,
            time_version
        FROM
          ctr_instr_boxs
        WHERE 1=1
        AND id = #{id}
    </select>

    <!-- 修改字典信息 -->
    <update id="modifyCtrInstrBoxs" parameterType="com.daan.domain.inst.CtrInstrBoxs">
        UPDATE ctr_instr_boxs
        SET app_id = #{app_id} ,org_id = #{org_id} ,box_barcode = #{box_barcode} ,box_ip = #{box_ip}, display_order = #{display_order}, memo = #{memo}, status = #{status}, time_version = NOW() WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM ctr_instr_boxs WHERE id=#{id}
    </delete>

    <select id="selectTest" resultType="java.lang.Integer"> select 1   </select>

</mapper>