<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>     
	<plugins>  
       <plugin interceptor="com.daan.mysql.handler.CharInterceptor">  
       </plugin>  
    </plugins>  
<!--     <typeAliases>   -->
<!--          <typeAlias alias="Blog" type="com.daan.domain.Blog"/> -->
<!--     	 <typeAlias alias="Comment" type="com.daan.domain.Comment"/>    -->
<!--     </typeAliases> -->
        
<!--     <typeHandlers>   -->
<!--    		<typeHandler handler="com.daan.mysql.handler.StringArrayTypeHandler" javaType="[Ljava.lang.String;" jdbcType="VARCHAR"/>   -->
<!-- 	</typeHandlers>  -->
</configuration> 